.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid-cell {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
